---
import RootLayout from "@/layouts/RootLayout.astro";
import { HomePage } from "./_components/Home.tsx";

const { user } = Astro.locals;
console.log(user);
---

<RootLayout>
  {
    user ? (
      <HomePage client:load />
    ) : (
      <>
        <h1>Login</h1>
        <a href="/api/auth/login">Login with Twitter</a>
      </>
    )
  }
</RootLayout>
